body{
	background-color: #9bc3c0
}

.jumbotron{
	font-family: 'michroma', sans-serif;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	color: #fff;
	font-size: 50px;
	background-color: #9bc3c0;

}

.instructions{
	font-family: 'michroma', sans-serif;
	text-align: center;
	color: #000;
	font-size: 15px;
	position: absolute;
	top: -50px;
	left: 35%;
}


.col-md-6{
	margin: 0, 20px, 0, 20px;
}

#answer{
	font-family: 'michroma', sans-serif;
	color: #000;
	text-align: center;
	font-size: 30px;
}